{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 3 version", "ie >= 11"]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
