$white: #FFF;

$black: #000000;
$black-1: #212529;
$black-2: #2E2E2E;
$black-3: #343A40;
$black-4: #495057;

$gray-0-dm: #1A1A1A;
$gray-1-dm: #1F1F1F;
$gray-2-dm: #2E2E2E;
$gray-3-dm: #363636;
$gray-4-dm: #3E3E3E;
$gray-5-dm: #505050;
$gray-6-dm: #676767;
$gray-7-dm: #747474;
$gray-8-dm: #848484;
$gray-9-dm: #989898;
$gray-10-dm: #BEBEBE;

$gray: #868E96;
$gray-1: #ADB5BD;
$gray-2: #CED4DA;
$gray-3: #DEE2E6;
$gray-4: #F1F3F5;
$gray-5: #F8F9FA;
$gray-6: #FAFAFA;
$gray-7: #FCFCFC;

$border-black: 1px solid #495057;
$border-gray: 1px solid #868E96;
$border-gray-1: 1px solid #ADB5BD;
$border-gray-2: 1px solid #CED4DA;
$border-gray-3: 1px solid #DEE2E6;
$border-gray-4: 1px solid #F1F3F5;
